{% extends "base.html" %}
{% load i18n thumbnail generic_flatblocks frontadmin_tags markup %}

{% block app.title %}{% firstof object.title request.meta.title %} / {% trans "News" %} / {% endblock %}
{% block meta.description %}{% firstof object.description request.meta.desc %}{% endblock %}
{% block meta.keywords %}{% firstof object.keywords request.meta.keywords %}{% endblock %}

{% block content %}
<div id="newsly-page">
    <div id="{% block page.id %}{% endblock %}" class="{% block page.class %}{% endblock %}">
        <div class="breadcrumb">
            {% block page.breadcrumbs %}{% endblock %}
        </div>
        <div id="newsly-content">
            <h1>{% trans "News" %}</h1>
            {% block page.content %}{% endblock %}
        </div>
        <div class="newsly-sidebar">
            {% block page.sidebar %}{% endblock %}
        </div>
        {% if is_paginated %}
        <div class="pagination">{% include "pagination.html" %}</div>
        {% endif %}
    </div>
</div>
{% endblock %}
