{% extends "base.html" %}
{% load i18n thumbnail generic_flatblocks frontadmin_tags markup %}

{% block app.title %}{% firstof object.title|capfirst meta.title|capfirst %}{% if object.title or meta.title %} / {% endif %}{% trans "News" %} / {% endblock %}
{% block meta.description %}{% firstof object.description meta.desc %}{% endblock %}
{% block meta.keywords %}{% firstof object.keywords meta.keywords %}{% endblock %}

{% block content %}
<div id="newsly-list" class="newsly-page">
    <h1>{% trans "News" %}</h1>
    {% block page.breadcrumbs %}{% endblock %}
    <div id="{% block page.id %}{% endblock %}" class="row">
        <div id="newsly-content" class="span9">
            {% block page.content %}{% endblock %}
        </div>
        <div class="newsly-sidebar span3">
            {% block page.sidebar %}{% endblock %}
        </div>
    </div>
    {% if is_paginated %}
    <div class="pagination">{% include "pagination.html" %}</div>
    {% endif %}
</div>
{% endblock %}
