<html>
    <head>
        <title>{% block head.title %}{% endblock %}</title>
        <meta name="description" content="{% block meta.description %}{% endblock %}">
        <meta name="keywords" content="{% block meta.keywords %}{% endblock %}">
    </head>
    <body>
        <div id="{% block page.id %}{% endblock %}" class="{% block page.class %}{% endblock %}">
            <div class="breadcrumbs">{% block page.breadcrumbs %}{% endblock %}</div>
            <h1>{% block page.title %}{% endblock %}</h1>
            <span class="newsly-last-updated">{% block page.last_updated %}{% endblock %}</span>
            <div id="newsly-content">{% block page.content %}{% endblock %}</div>
            <div id="newsly-sidebar">{% block page.sidebar %}{% endblock %}</div>
            {% if is_paginated %}
            <div class="pagination">{% include "newsly/pagination.html" %}</div>
            {% endif %}
        </div>
    </body>
</html>
