{% extends "newsly/base.html" %}
{% load i18n frontadmin_tags %}

{% block head.title %}{% if request.meta.title %}{{ request.meta.title }}{% else %}{% trans "News" %} / {% endif %}{% endblock %}

{% block page.id %}newsly-list{% endblock %}
{% block page.class %}{% endblock %}

{% block page.last_updated %}{% blocktrans with date_added=object_list.0.date_added %}Last updated: {{ date_added }}{% endblocktrans %}{% endblock %}

{% block page.breadcrumbs %}
<ul class="breadcrumb">
    <li><a href="/">{% trans "Home" %}</a> <span class="divider">/</span></li>
    <li class="active">{% trans "News" %}</li>
</ul>
{% endblock %}

{% block page.content %}
{% frontadmin request "newsly.News" %}
{% for news in object_list %}
{% frontadmin request news %}
{% include "newsly/news_teaser.inc.html" %}
{% endfrontadmin %}
{% endfor %}
{% endfrontadmin %}
{% endblock %}

{% block page.sidebar %}
{% include "newsly/sidebar_archives.inc.html" %}
{% include "newsly/sidebar_authors.inc.html" %}
{% include "newsly/sidebar_categories.inc.html" %}
{% endblock %}
