{% load i18n markup %}
{% if object.teaser %}
<div class="hero-unit newsly-teaser">
    <h1>{{ object.title|capfirst }}</h1>
    {% if grappelli_tinymce %}
    {{ object.teaser|safe }}
    {% else %}
    {{ object.teaser|textile }}
    {% endif %}
</div>
{% else %}
<div class="page-header">
    <h1>{{ object.title|capfirst }}</h1>
</div>
{% endif %}
<div class="news-body">
    {% if grappelli_tinymce %}
    {{ object.body|safe }}
    {% else %}
    {{ object.body|textile }}
    {% endif %}
</div>
