{% load i18n %}
{% spaceless %}
{% if object.get_author_display %}
{# Author #}
<li class="nav-header">
    <i class="icon-user"></i> 
    {% trans "Author" %}
</li>
<li>
    {% if request.GET.a %}
    <span class="label label-info">{{ object.get_author_display }}</span>
    {% else %}
    <a href="{% url newsly-index 1 %}?a={{ object.author_id }}{% if request.GET.c %}&c={{ request.GET.c }}{% endif %}{% if request.GET.y %}&y={{ request.GET.y }}{% endif %}{% if request.GET.m %}&m={{ request.GET.m }}{% endif %}">{{ object.get_author_display }}</a>
    {% endif %}
</li>
<li class="divider"></li>
{% endif %}

{# Date published #}
<li class="nav-header">
    <i class="icon-calendar"></i> 
    {% trans "Published" %}
</li>
<li><span>{{ object.date_added }}</span></li>
<li class="divider"></li>

{# Category #}
{% if object.category %}
<li class="nav-header">
    <i class="icon-tag"></i> 
    {% trans "Category" %}
</li>
<li>
    {% if request.GET.c %}
    <span class="label label-info">{{ object.category }}</span>
    {% else %}
    <a href="{% url newsly-index 1 %}?c={{ object.category_id }}{% if request.GET.a %}&a={{ request.GET.a }}{% endif %}{% if request.GET.y %}&y={{ request.GET.y }}{% endif %}{% if request.GET.m %}&m={{ request.GET.m }}{% endif %}
    ">{{ object.category }}</a>
    {% endif %}
</li>
<li class="divider"></li>
{% endif %}
{% endspaceless %}
