{% load thumbnail %}
<div class="newsly-object">
    <h2><a href="{{ news.get_absolute_url }}">{{ news }}</a></h2>
    {% include "newsly/news_meta.inc.html" with object=news %}
    {% if news.newsphoto_set.all %}
    <a href="{{ news.newsphoto_set.all.0.photo.url }}" class="news-photo-thumb" title="{{ photo.title }}" rel="gallery"><img src="{% thumbnail news.newsphoto_set.all.0.photo 150x150 crop %}" alt="{{ photo.title }}"></a>
    {% endif %}
    <div class="news-teaser">
        {{ news.teaser|linebreaks }}
    </div>
</div>
