{% load i18n %}
{% if category_list %}
<li class="nav-header">
    <i class="icon-tag"></i> 
    {% trans "Categories" %}
</li>
{% for news in category_list %}
<li>
    {# The slugify filter is a dirty hack to ensure we are comparing a string with a string #}
    {% if request.GET.c == news.category|slugify %}
    <span>
        {{ news.category__title }}
    </span>
    {% else %}
    <a href="?c={{ news.category }}">
        {{ news.category__title }}
    </a>
    {% endif %}
</li>
{% endfor %}
<li class="divider"></li>
{% endif %}
