{% load i18n %}
{# Next/prev #}
{% if object.get_next_by_date_added or object.get_previous_by_date_added %}
<div class="btn-group newsly-nextprev">
    {% if object.get_previous_by_date_added %}
    <a href="{{ object.get_previous_by_date_added.get_absolute_url }}" class="btn btn-small" rel="tooltip" title="{{ object.get_previous_by_date_added }}">
        <i class="icon-circle-arrow-left"></i> {% trans "Previous" %}
    </a>
    {% endif %}
    {% if object.get_next_by_date_added %}
    <a href="{{ object.get_next_by_date_added.get_absolute_url }}" class="btn btn-small" rel="tooltip" title="{{ object.get_next_by_date_added }}">
        {% trans "Next" %} <i class="icon-circle-arrow-right"></i>
    </a>
    {% endif %}
</div>
{% endif %}
