{% load i18n %}
<div id="news-archives">
    <h1>{% trans "Archives" %}</h1>
    <ul>
        {% for news in date_list %}
        {% ifchanged news.date_added.month %}
        <li>
            {% ifchanged news.date_added|date:"Y" %}
            <h3>{{ news.date_added.year }}</h3>
            {% endifchanged %}
            {% if request.GET.y == news.date_added.year|slugify and request.GET.m == news.date_added.month|slugify %}
            <span>{{ news.date_added|date:"F"}}</span>
            {% else %}
            <a href="?y={{ news.date_added.year }}&m={{ news.date_added.month }}">{{ news.date_added|date:"F"}}</a>
            {% endif %}
        </li>
        {% endifchanged %}
        {% endfor %}
    </ul>
</div>
