{% load i18n %}
<div class="news-categories">
    <h2>{% trans "Categories" %}</h2>
    <ul>
        {% for news in category_list %}
        <li>
            {# The slugify filter is a dirty hack to ensure we are comparing a string with a string #}
            {% if request.GET.c == news.category|slugify %}
            <span>
                {% get_current_language as lang %}
                {% if lang == 'fr' %}
                    {{ news.category__title_fr }}
                {% else %}
                    {{ news.category__title_en }}
                {% endif %}
            </span>
            {% else %}
            <a href="?c={{ news.category }}">
                {% get_current_language as lang %}
                {% if lang == 'fr' %}
                    {{ news.category__title_fr }}
                {% else %}
                    {{ news.category__title_en }}
                {% endif %}
            </a>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
