{% load i18n %}
{% if author_list %}
<li class="nav-header">
    <i class="icon-user"></i> 
    {% trans "Authors" %}
</li>
{% for news in author_list %}
<li>
{#<a href="#">Library</a>#}
    {# The slugify filter is a dirty hack to ensure we are comparing a string with a string #}
    {% if request.GET.a == news.author|slugify %}
    <span>
        {% if news.author__first_name %}
        {{ news.author__first_name }} {{ news.author__last_name }}
        {% else %}
        {{ news.author__username }}
        {% endif %}
    </span>
    {% else %}
    <a href="?a={{ news.author }}">
        {% if news.author__first_name %}
        {{ news.author__first_name }} {{ news.author__last_name }}
        {% else %}
        {{ news.author__username }}
        {% endif %}
    </a>
    {% endif %}
</li>
{% endfor %}
<li class="divider"></li>
{% endif %}
